
// fonts
$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", sans-serif;
$font-secondary: "Roboto", sans-serif;

// colors
$accent: #d4c17f;
$dark: #242b33;
$white: #fff;
$footer-bg: #2d343c;
$placeholder: #bebebe;


// media
$tablet : 959px;
